checktimeout=5
checkinterval=1
autoreload=yes
quiescent=yes

virtual=10.16.255.254:6443
    servicename=kubernetes
    real=10.16.1.1:6443 gate
    real=10.16.1.2:6443 gate
    real=10.16.1.3:6443 gate
    scheduler=wrr
    checktype=negotiate
    service=https
    request="healthz"
    receive="ok"